@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text&family=Hedvig+Letters+Sans&family=Mulish&family=Outfit:wght@300&display=swap');

.container{
    background-color: #010100;
    font-family: 'Bebas Neue', sans-serif;
    color: white;

}

.slick-slide > div {
    /* display: flex; */
    margin: 20px;
    
}

.movie-main-div{
    transition: transform .2s;
}

.movie-main-div:hover{
    transform: scale(1.1);
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

/* .slick-slide  div{
    width:fit-content;
    justify-items: center;
    align-items: center;
    width:fit-content
} */