@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text&family=Mulish&family=Outfit:wght@300&display=swap');

nav{
    font-family: 'Bebas Neue', sans-serif;
}

a {
    padding: 0.5rem;  
}
a:hover{
    color:#6367F0;
    
}


  /* Media query for responsive design */
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav div {
      margin-bottom: 15px; /* Adjust the spacing between the logo and nav links */
    }
  
    nav a {
      margin-right: 0;
      margin-bottom: 10px; /* Adjust the spacing between nav links in the stacked layout */
    }
  }
  

.img{
   width: 3rem;
   height: 3rem; 
}