
form div{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
label{
    font-size: small;
    color : #a0a0a1
}

input{
    outline:none;
    padding:10px;
    border-color: #a0a0a1;
    border-radius: 6px;
    height: 35px;
    background-color: transparent;
}

#register {
    background-image: linear-gradient(to right,#047dd8 0%,#02A09D 51%,#01BE69 100%);
    padding:8px;
    border-radius: 10px;
}